<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>test while playing</title>
</head>

<body>
  <div class="main-play"> 
    <div>Show: {{title}}</div>
    <img *ngIf="currentData.length >= 0" [src]="showImg" alt="random img">
    <button [disabled]="currentData.length == 0" (click)="handleRandom()" class="btn btn-primary">random</button>
    <button (click)="reset()" class="btn btn-success">reset</button>
  </div>
  <div class="test">
    <p>List left: </p>
    <ul>
      <li *ngFor="let msg of currentData">{{msg.message}}</li>
    </ul>
    <ul>
      <!-- <li *ngFor="let msg of title">{{msg}}</li> -->
    </ul>
  </div>
</body>

</html>